@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
    cursor: url('Handwriting.cur'), auto ; 

}
header{
    background-color: rgb(255, 228, 196);
    position: fixed;
    width: 100%;
z-index: 60000;
    
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px; 
}
ul{
    display: flex;
    gap: 40px;
}
nav .logo{
    color: black;
    font-weight: 900;
    margin-left:252px;
    transform: scale(2);
    transition: 0.5s;
}
.logo:hover{
    color: rgb(0, 0, 0);
}

ul li a{
    color: rgb(43, 44, 41);
    font-weight: 200;
    transition: 0.2s;
}
ul li a:hover{
    color: rgb(255, 0, 0);
    text-decoration: underline;
}
section{
    height: 100vh;
    filter: blur(20);
    width: 100%;
    background: url("bg-image.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    padding: 100px 200px;
    display: flex;
    align-items: center;
}
.main h1{
    color: bisque;
    font-weight: 800;
    font-size: 2.9em;
    text-shadow: 0 0 5px ;
    letter-spacing: 6px;
    margin-top: 5px;
}
.main span{
    color: rgb(170, 255, 0);
    font-weight: 100;
}
.main-btn{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(125, 125, 51);
    font-size: 1.2em;
    text-shadow: 0 0 15px black;
    font-weight: 500;
    display: inline-block;
    padding: 0.9em 2.1em;
    letter-spacing: 4px;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 60px;
    transition: 0.5s ease;
    box-shadow: 0 0 122px rgb(255, 255, 255);
}
.main-btn:hover{
    transform: scale(1.1);
}

.cards{
    height: 100vh;
    filter: blur(20);
    width: 100%;
    background: url("sec2.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cards .card1 , .card2 , .card3{

    margin-top: 90px;
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: 0 0 5px black;
    background-color: rgb(129, 137, 144);

}
.card1{
    padding: 12px 14px;
}


.card1 {
    transition: 0.5s;
    padding: 12px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: url("narutosss.jpg") ;
    background-position: center;
    background-size: cover;
    width: 300px;
    border: 1px solid #d6bcbc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 15px;

  }
  .card1 h2{
    filter: brightness(150%);

    color: rgb(255, 255, 7);
    font-weight: 900;
    letter-spacing: 6px;
    text-shadow: 0 0 5px;
    font-size: 52px;
    text-decoration: underline;
    margin-left: 22px;

    }
    .card1 p{
        color: aliceblue;
        align-self: flex-end;
        text-shadow: 0 0 12px;
        word-spacing: 3px;
    }
    .card1 .read{
        margin-left: 15%;
        text-decoration: none;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 26);
        font-size: 1em;
        text-shadow: 0 0 15px black;
        font-weight: 500;
        letter-spacing: 4px;
        border-radius: 5px;
        transition: 0.5s ease;
        box-shadow: 0 0 122px rgb(27, 28, 19);
        padding: 12px;
        width: 190px;
        display: flex;
        justify-content: center;
    }
    .card1 .read:hover{
        transform: scale(1.1);
        cursor: pointer;
        background-color: rgb(143, 143, 21);

    }
  .card2 {
    background: url("eren.jpg") ;
    background-position: center;
    background-size: cover;

    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    transition: 0.5s;


  }
.card2 h2{
    color: rgb(81, 255, 0);
    font-weight: 900;
    letter-spacing: 6px;
    text-shadow: 0 0 5px;
    font-size: 52px;
    text-decoration: underline;
    margin-left: 25%;
    filter: brightness(150%);

}
.card2 p{
    color: aliceblue;
        align-self: flex-end;
        text-shadow: 0 0 12px;
        word-spacing: 3px;
        margin-left: 12px;
        margin-right: 1;
}
.card2 .read{
    margin-left: 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 26);
    font-size: 1em;
    text-shadow: 0 0 15px black;
    font-weight: 500;
    letter-spacing: 4px;
    border-radius: 5px;
    transition: 0.5s ease;
    box-shadow: 0 0 122px rgb(27, 28, 19);
    padding: 12px;
    width: 190px;
    display: flex;
    justify-content: center;
    margin-left: 18%;
}  

.card2 .read:hover{
    transform: scale(1.1);
        cursor: pointer;
        background-color: rgb(143, 143, 21);

}



  .card3 {
    transition: 0.5s;
    background: url("torfine.jpg")  ;
    bac
    background-position: center;
    background-size: cover;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
  }
  .card3 h2{

    color: burlywood;
    font-weight: 900;
    letter-spacing: 6px;
    text-shadow: 0 0 5px;
    font-size: 52px;
    text-decoration: underline;
    margin-left: 12px;
    filter: brightness(150%);


  }
  .card3 p{
    color: aliceblue;
    align-self: flex-end;
    text-shadow: 0 0 12px;
    word-spacing: 3px;
    margin-left: 12px;
    margin-right: 1;
  }
.card3 .read{
    margin-left: 15%;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 26);
    font-size: 1em;
    text-shadow: 0 0 15px black;
    font-weight: 500;
    letter-spacing: 4px;
    border-radius: 5px;
    transition: 0.5s ease;
    box-shadow: 0 0 122px rgb(27, 28, 19);
    padding: 12px;
    width: 190px;
    display: flex;
    justify-content: center;
    margin-left: 18%;
}
.card3 .read:hover{
    background-color: rgb(143, 143, 21);

    transform: scale(1.1);
        cursor: pointer;
}
.card1:hover{
    transform: scale(1.1);

    

}.card2:hover{
    transform: scale(1.1);

}.card3:hover{
    transform: scale(1.1);
}


.log{
    background-color: rgb(208, 195, 54);
    padding: 10px 20px;
    border-radius: 20px;
    color: #2a2727;
    transition: 0.5s;
    text-shadow: 0 0 12px wheat;
}
.log:hover{
    background-color: rgb(96, 90, 22);
    color: #010101;
    text-decoration: none;
    box-shadow: 0 0 12px;

}
.contact{
    height: 100vh;
    width: 100%;
    background: url("torfinbg.png") no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box{
    overflow: hidden;
    width: 500px;
    height: 400px;
    background-color: #b7a7a779;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 121px;
    padding: 12px 33px;
    filter: drop-shadow(0 0 33px black);
    border: 1px solid rgba(0, 0, 0, 0.356);

}
.box a{
    transform: scale(5);
    transition: 0.5s;
}
.box a:hover{
    transform: scale(5.2);
}
.box a i{
    color: rgb(204, 183, 45);
    transition: 0.5s;
}
.box a i:hover{
    color: rgb(89, 95, 60);
    
}
.contact h2{
    color: rgb(30, 30, 30);
    font-weight: 900;
    letter-spacing: 2px;
    filter: drop-shadow(0 0 12px);
    font-size: 2em;
    text-decoration: underline;
}